@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,400,700);

a.socialbox {
    font-family: "Open Sans";
    font-weight: 300;
    display: inline-block;
    text-decoration: none;
    color: white;
    padding: 20px 30px;
    width: 320px;
    margin: 24px 0 0 24px;
}

a.socialbox.facebook {
    background-color: #2980b9;
    -webkit-transition: background-color 0.25s ease-in-out;
    transition: background-color 0.25s ease-in-out;
}
a.socialbox.twitter {
    background-color: #3498db;
    -webkit-transition: background-color 0.25s ease-in-out;
    transition: background-color 0.25s ease-in-out;
}
a.socialbox.pinterest {
    background-color: #c0392b;
    -webkit-transition: background-color 0.25s ease-in-out;
    transition: background-color 0.25s ease-in-out;
}
a.socialbox.linkedin {
    background-color: #34495e;
    -webkit-transition: background-color 0.25s ease-in-out;
    transition: background-color 0.25s ease-in-out;
}




a.socialbox .social-icon {
    line-height: 32px;
    font-size: 30px;
    display: inline-block;
    vertical-align: middle;
    border-right: 1px solid rgba(255, 255, 255, 0.25);
    padding-right: 15px;
}
a.socialbox .description {
    display: inline-block;
    vertical-align: middle;
    padding-left: 10px;
    font-size: 13px;
}

a.socialbox .description span {
    display: block;
    line-height: 16px;
}
